@import url('https://fonts.googleapis.com/css2?family=TH+Sarabun+New:wght@400;700&display=swap');

body {
    font-family: 'TH Sarabun New', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f5e9; /* สีเขียวอ่อน */
}

.container {
    background-color: #ffffff; /* พื้นหลังสีขาว */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #388e3c; /* สีเขียว */
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'TH Sarabun New', sans-serif;
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #388e3c; /* สีเขียว */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2e7d32; /* สีเขียวเข้ม */
}

.input {
    color: #828282;
    font-size: 40px;
    position: absolute;
    white-space: nowrap;
}

#output1 {
    top: -250px;
    left: -50px;
}

#output2 {
    top: -200px;
    left: -50px;
}

#output3 {
    top: -150px;
    left: -50px;
}

#output4 {
    top: -100px;
    left: -50px;
}

#output5 {
    top: -50px;
    left: -50px;
}

#output6 {
    color: red;
    white-space: pre-line;
    font-size: 31px;
    left: -50px;
    top: 100px;
    line-height: 1.2;
}
