@import url('https://fonts.googleapis.com/css2?family=TH+Sarabun+New:wght@400;700&display=swap');

body {
    font-family: 'TH Sarabun New', sans-serif;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f5e9; /* สีเขียวอ่อน */
    background-image: url('path-to-your-image.jpg'); /* URL รูปภาพพื้นหลังที่คุณอัปโหลดไปใน GitHub */
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    background: transparent; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    height: 600px; /* ความสูงอัตโนมัติ */
    max-height: 80vh; /* ความสูงสูงสุด 80% ของความสูงหน้าจอ */
    text-align: left;
    overflow: auto; /* แสดง scrollbar ถ้าข้อความยาวเกิน */
    position: relative; /* กำหนด position เพื่อให้ลูกที่เป็น absolute สามารถกำหนดตำแหน่งได้ */
}

h1 {
    color: #388e3c; /* สีเขียว */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'TH Sarabun New', sans-serif;
    text-align: left; /* ข้อความชิดซ้าย */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #388e3c; /* สีเขียว */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2e7d32; /* สีเขียวเข้ม */
}

.input {
    color: #828282;
    font-size: 32px;
    white-space: pre-wrap;
    text-align: left;
    position: absolute; /* ใช้ position absolute เพื่อให้สามารถปรับตำแหน่งได้ */
}

#output1 {
    top: 128px;
    left: 415px;
}

#output2 {
    top: 192px;
    left: 415px;
}

#output3 {
    top: 255px;
    left: 415px;
}

#output4 {
    top: 322px;
    left: 415px;
}

#output5 {
    top: 383px;
    left: 415px;
}

#output6 {
    color: red;
    white-space: pre-wrap;
    font-size: 32px;
    line-height: 1.2;
    top: 470px;
    left: 205px;
}
